body{
    background-color: gray;
}
.container{
    height: 2000px;
}
.container-2{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
    border-radius: 10px;
    display: flex;
}

ul.gallery{
    display:flex;
    gap: 40px; /* jarak antar gambar */
    list-style: none;
}
.dc{
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    z-index: 1000;
}
.dc img{
    width: 60px;
    height: 60px;
}

.back{
    text-align: center;
}
.back img{
    width: 1250px;
    height: 300px;
    margin-top: 20px;
}