.container{
    height: 700px;
}
.dc img{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 25px;
}
.bc{
    justify-content: center;
    align-items: center;
    display: flex;
}
.bc img{
    height: auto;
    width: 100px;
    float: left;
    position: relatives;
    margin-right: 10px;
    border: 2px solid black;
    margin-left: 10px;
}

.bc a:hover{
    color: blue;
    background-color: blue;
}


