h1{
    color: darkred;
    text-align: center;
    font-size: 50px;
    font-family: "Eater", serif;
    text-decoration: line-through;
    background-color: black;
}

h2{
    color: darkblue;
    text-align: center;
    font-size: 40px;
    font-family: "Meddon", cursive;
    letter-spacing: 5px;

}

body{
    background-color: peru;
    background-image: url();
}

a{
    display: block;
    background-image: url(img/button.png);
    width: 200px;
    height: 80px;
    background-position: center bottom;
}

a:hover{
    background-position: center top;
}